			header, section, footer, aside, nav, article, figure, figcaption {
				display: block;}
				
			body {
				color: black;
				background-color: white;
				font-family: Georgia, Times, serif;
				padding: 0px 0px 0px 0px;
				margin: 0px 0px 0px 0px;
				height: 100%;
				}	
			
			p {
				margin: 0.5em 0 0em 0;
			}
				
			.container {
				min-height: 100%;
				background-color: white;
				margin: 0 0 -5em 0; /*negative margin to pull footer to overlap*/			
			}	
				
				
			header {
			    /*position:fixed;
				top: 0px;
				left: 0px;*/
				height: 5em;
				width: 100%;
				background-color: green;}
			
			.headerimage{
				height: 90%;
				float: left;
				}
			
			.headertext{
				float: left;
				color: white;
				font-size: 150%;
				/*position:relative;
				top: -50% ;*/
				}
			.searchbar{
				float: right;
				}
				
			
			footer {
				clear: both;
				color: #ffffff;
				background-color: #aeaca8;
				height: 5em;
 				font-size: 100%;
				width: 100%;
				}
			
			#copyright{
				max-width = 50%;
				float: left;
			}
			#contact{
				max-width = 50%;
				text-align = right;
				float: right;
			}
			
			
			
/* Landing */				
					
			.home{
				background-color: white;
				padding-top: 2em;
				font-size : 250%;
				color: black;
				width:100%;
			}	
			
			
			.buttonbar form {
				padding: 0px 0px 0px 0px;
				margin: 0px 0px 0px 0px;
			}
			
			.homesearch{
				text-align: center;
			}
			
			.buttonbar{
				text-align: right;
			}
			
			.searchbox input{
				font-size : 50%;
				}

/*content*/			
			.content_container{
				background-color: white;
				padding: 0 0 5em 0;
				width:100%;
			}	
/* ..content */			
			.content{
				width: 60%;
				float: left;
				background-color: white;
			}

/* ... onwards navigation */			
			
			aside.onwards{
				background-color: #f7f7f7;
				color: black;
				width:25%;
				float:Right;
				margin: 0%;
				top: 0px;
				bottom:0px;
				padding: 0px 0px 0px 0px;

				border-left: thin solid black;
				}	

			.curated_internal_links{
				border-botton: thin solid black;
			}
				
			.curated_internal_links{
				border-botton: thin solid black;
			}	
			
			.facet_links{
				border-botton: thin solid black;
			}
			
			.onwards a:hover {
 				position:relative;
			}
			
			.onwards a[tooltip]:hover:after {
				  content: attr(tooltip);
				  color: black;
				  background-color: yellow;
				  position: absolute;
				  left:0;
				  width:200%;
				  z-index=9999;	
		
			}
			
			.tagcloud a{
				float: left;

				margin: 3px 3px 3px 3px;
				padding: 5px 5px 5px 5px;
				border-radius: 10px;
			}
			.tagcloud li{
				list-style-type: none;

			
			}
			
			.tagcloud a.tag1 { font-size: 30%; font-weight: 100; background: #ff00FF;} 
			.tagcloud a.tag2 { font-size: 50%; font-weight: 200; background: #DD22FF;} 
			.tagcloud a.tag3 { font-size: 65%; font-weight: 300; background: #BB44FF;} 
			.tagcloud a.tag4 { font-size: 80%; font-weight: 400; background: #9966FF;} 
			.tagcloud a.tag5 { font-size: 95%; font-weight: 500; background: #7788FF;} 
			.tagcloud a.tag6 { font-size: 110%; font-weight: 600; background: #55AAFF;} 
			.tagcloud a.tag7 { font-size: 130%; font-weight: 700; background: #33BB33;} 
			.tagcloud a.tag8 { font-size: 150%; font-weight: 800; background: #22DD33;} 
			.tagcloud a.tag9 { font-size: 170%; font-weight: 900; background: #11EE33;} 
			.tagcloud a.tag10 { font-size: 190%; font-weight: 900; background: #00FF33;}
			
/* Results */

			.result_container{
				width: 100%;
				background-color: #E8E8E8;
				margin: 0%;
				padding: 0px 0px 5em 0px;
			}			/* main panel */

			.container .searchbar{
				margin: 1em 3% 0 0;
			}
			
/* facet filter */			
			aside.facets{
				background-color: #E8E8E8;
				color: black;
				width:20%;
				float:left;
				padding: 0px 0px 0px 0px;
				border-right: 2px solid black; 
				}		
		
			#refine_button{
				margin: 1em auto 0 auto;
				text-align: center;
			}
		
			.facet_name{
				font-weight: bold;
			}	

			.facets ul {
					list-style-type: none;
					padding: 0px;
					padding-left: 10px;
			}				
			.facets ul li {
					list-style-type: none;
					padding-left: 0px;
			}	

			.facets h2 {
				font-size: 100%;
				font-weight:80%;
			}
			

/* .. results */
			.results{
				background-color: green;
			}	
		
				
/* ... results bar */				
			.results_bar{
				background-color: white;
				border-bottom: thin solid black;
				width: 100%;
				height: 3em;
			}
				
			.search_rank{
				float: left;
				padding: 0 0 0 5%;
				width: 50%;
			}
			.search_rank input {
				display: none;
			}
			.search_rank input:checked + .rank_select{
				color: red;
				text-decoration: underline;
			}

			.rank_select:hover { 
				background-color: #99CCFF;
			}
			
 
			
			.results_quantity{
				float: right;
				width: 15%;
			} 
				
	
	 
/* Search Results*/ 				

	 		.result_list{
				background-color: white;
				width: 78%;
				float: right;

			}	
				
			.result{
				width: 100%;
				background-color: white;
			}
			.result_link{
				font-size: 150%;
				font-weight: bold;
				color: blue;
				padding-top: 0;
				padding-bottom: 0;
			}
	 
			.result_desc	{
				color: black;
				padding: 0;
				margin: 0;
			
			}

			.version_metadata{
				color: black;
				}
  
			.content_metadata{
				color: black;
				}	


			



	
				
				
			@media only screen and (max-width: 800px) {
					aside.facets{width: 0%;
								display: none;
					}
					aside.onward{width: 0%;
								display: none;
					}
					.headertext{font-size: 75%;}
					.content{width: 100%;}
					.result_list{width: 100%;}
					
					}
					
					