			header, section, footer, aside, nav, article, figure, figcaption {
				display: block;}
				
			body {
				color: black;
				background-color: white;
				font-family: Georgia, Times, serif;
				padding: 0px 0px 0px 0px;
				margin: 0px 0px 0px 0px;
				height: 100%;
				}	
			
			p {
				margin: 0.5em 0 0em 0;
			}
				
			.container {
				min-height: 100%;
				background-color: white;
				margin: 0 0 -5em 0; /*negative margin to pull footer to overlap*/			
			}	
				
				
			header {
			    /*position:fixed;
				top: 0px;
				left: 0px;*/
				height: 5em;
				width: 100%;
				background-color: green;}
			
			#headerimage{
				height: 90%;
				float: left;
				}
			
			#headertext{
				float: left;
				color: white;
				font-size: 150%;
				/*position:relative;
				top: -50% ;*/
				}
					
/* footer */			
			footer {
				clear: both;
				color: #ffffff;
				background-color: #aeaca8;
				height: 5em;
 				font-size: 100%;
				width: 100%;
				}
			
			#copyright{
				max-width = 50%;
				float: left;
			}
			#contact{
				max-width = 50%;
				text-align = right;
				float: right;
			}


						
	
			
			
/* Landing */				
					
			#home_container{
				background-color: white;

				color: black;
				width:100%;
			}	
			
			#GuidanceInvite{
				font-size : 250%;
			}
			
			.km_search{
				padding-top: 2em;
				text-align: center;
			}
			
			.buttonbar form {
				padding: 0px 0px 0px 0px;
				margin: 0px 0px 0px 0px;
			}
			.buttonbar{
				text-align: right;
			}	


			
/* Results */

			#results_container{
				width: 100%;
				background-color: white;
				margin: 0%;
				padding: 0px 0px 5em 0px;
			}			/* main panel */

			
			#km_results_header .searchbar{
				font-size: 75%;
				margin: 1em 3% 0 0;
				float: right;
			}
 
 	
			
			
/* facet filter */			
			.filter_aside{
				background-color: #E8E8E8;
				color: black;
				width:20%;
				float:left;
				padding: 0px 0px 0px .5em;
				border-right: 2px solid black; 
				}		
		
			#refine_button{
				margin: 1em auto 0 auto;
				text-align: center;
			}
 
		
			.facet_name{
				font-weight: bold;
			}	

			.filter_aside ul {
					list-style-type: none;
					padding: 0px;
					padding-left: 10px;
			}				
			.filter_aside ul li {
					list-style-type: none;
					padding-left: 0px;
			}	

			.filter_aside h2 {
				font-size: 100%;
				font-weight:80%;
			}
			

/* .. results */
			.results{
				background-color: white;
			}	
		
		    .search_data{
					font-size: 80%; 
					font-weight: lighter;
			}
			
			.suggested_search{
				color: red;
				font-size: 120%;
				padding: 0 0 0 1em;
			}
				
/* ... results bar */				
			.results_bar{
				background-color: white;
				border-bottom: thin solid black;
				width: 100%;
				height: 3em;
			}
				
			.search_rank{
				float: left;
				padding: 0 0 0 .5em;
				width: 50%;
			}
			.search_rank input {
				display: none;
			}
			.search_rank input:checked + .rank_select{
				color: red;
				text-decoration: underline;
			}

			.rank_select{
				background-color: #E8E8E8;
				margin: 0 .5em 0 .5em;
			}
			
			.rank_select:hover { 
				background-color: #99CCFF;
			}
			
 
			
			.results_quantity{
				float: right;
				width: 15%;
			} 
				
	
	 
/* Search Results*/ 				

	 		.result_list{
				background-color: white;
				width: 78%;
				float: right;

			}	
				
			.result{
				width: 100%;
				background-color: white;
			}
			.result_link{
				font-size: 150%;
				font-weight: bold;
				color: blue;
				padding-top: 0;
				padding-bottom: 0;
			}
	 
			.result_desc	{
				color: black;
				padding: 0;
				margin: 0;
			
			}

			.version_metadata{
				color: black;
				}
  
			.knowledge_metadata{
				color: black;
				}	


/*knowledge*/			
			#knowledge_container{
				clear: both;
				background-color: white;
				padding: 0 0 5em 0;
				width:100%;
			}	
			
			#km_knowledge_header .searchbar{
				font-size: 75%;
				margin: 1em 3% 0 0;
				float: right;
			}
			
 
/* ..content */			
 
			.km_article_title{
				text-align: center;
				font-size: 200%;
				font-weight: bold;
				padding: 0 0 1em 0;
			}
			
			.km_article{
				}
				
			.km_item_title{
				text-align: left;
				font-size: 150%;
				font-weight: bold;
				padding: 0 0 1em 0;
			}	
			
			.km_glossary{
				background-color: yellow;
			}
			
			.km_snippet{
				
			}
			
			
/* ... onwards_aside navigation */			
			
			.onwards_aside{
				background-color: #f7f7f7;
				color: black;
				width:25%;
				float:right;
				margin: 0%;
				top: 0px;
				bottom:0px;
				padding: 0px 0px 0px 0px;
				
				border-left: thin solid black;
				}	

			.curated_internal_links{
				border-bottom: thin solid black;
			}
				
			.curated_external_links{
				border-bottom: thin solid black;
			}	
			
			.similar_links{
				border-bottom: thin solid black;
			}
			
			.onwards_aside a:hover {
 				position:relative;
			}
			
			
			.onwards_aside a[tooltip]:hover:after {
				  content: attr(tooltip);
				  color: black;
				  background-color: #f7f7f7;
				  border:1px;
				  position: absolute;
				  right:0;
				  margin-right: 100%;	
				  border-radius: 10px;
				  border: thin solid black;
				  padding: 5px 5px 5px 5px;
				  width:200%;
				  z-index=9999;	
		
			}
			
			.tagcloud a{
				float: left;
				color: black;
				text-decoration: none;
				margin: 3px 3px 3px 3px;
				padding: 5px 5px 5px 5px;
				border-radius: 10px;
			}
			.tagcloud li{
				list-style-type: none;

			
			}
			
			.tagcloud a.tag1 { font-size: 70%; font-weight: 100; background: grey;} 
			.tagcloud a.tag2 { font-size: 80%; font-weight: 200; background: grey;} 
			.tagcloud a.tag3 { font-size: 90%; font-weight: 300; background: grey;} 
			.tagcloud a.tag4 { font-size: 100%; font-weight: 400; background: grey;} 
			.tagcloud a.tag5 { font-size: 110%; font-weight: 500; background: grey;} 
			.tagcloud a.tag6 { font-size: 110%; font-weight: 600; background: grey;} 
			.tagcloud a.tag7 { font-size: 120%; font-weight: 700; background: grey;} 
			.tagcloud a.tag8 { font-size: 130%; font-weight: 800; background: grey;} 
			.tagcloud a.tag9 { font-size: 140%; font-weight: 900; background: grey;} 
			.tagcloud a.tag10 { font-size: 150%; font-weight: 900; background: grey;}			


	.checkbox_hide { display:none; }
			
	#toggle_label {float: left;
							background: white;
							margin: .5em 0 0 0;
							padding: 0 0 0 0;
							display:none;
							}

	#toggle_label:before {						
 				content: url('images/hamburger.jpg');
				}
			
	@media only screen and (max-width: 930px) {
 
			.onwards_aside{width: 0%;
					display: none;
			}
			#headertext{font-size: 75%;}

			.result_list{
				width: 100%;
			}
			#toggle_label{
				display: block;
			}
			
			.toggle_display .toggle_off{
				width:0%;
 				display:none;
			}
			
			.toggle_display input:checked ~ .toggle_off{
				width: 100%;
				display:block;
			}
			
			.toggle_display  .toggle_on{
				width: 100%;
				display:block;
			}
			
			.toggle_display input:checked ~ .toggle_on{
				width: 0%;
				display:none;
			}

			
	
		}
		


				

					
					