
			
.hotdrop input {
	display: none;
}

.hotdrop label {
	background: white;
	color: black;
	border-radius: .25em;
	display: inline;
	font-size: 120%;
	font-weight: bold;
}

.hotdrop .sub_head{
	margin: 0 0 0.5em;
	display: block;
	width: 100%;
}
/*
.hotdrop label:hover {
	background: #ccc;
}

.hotdrop input:checked + label {
	background: #ccc;
	border-bottom-right-radius: 0;
	border-bottom-left-radius: 0;
	color: white;
	padding-bottom: 1em;
}
*/
.hotdrop  .droptext{
	background: white;
	margin: 0 0 1em;
	color: black;
/*	z-index:10;
	border-bottom-left-radius: .25em;
	border-bottom-right-radius: .25em;*/
	height: auto;
/*	padding-bottom: .125em;*/
}
/*
.hotdrop input:checked ~ .droptext{
	background: #f7f7f7;
	height: auto;
	z-index:10;
}
*/